.About-inner_Container{
    /* width: 80%; */
    margin: 50px auto;
    /* font-family: "Source Code Pro", monospace; */
    /* font-family: "Fira Code", monospace; */
}

.About-row1{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 50px;
    width: 80%;
    margin: auto;
}

.About-row1 div:nth-child(1){
    width: 60%;
    /* background-color: red; */
}

.About-row1 div:nth-child(2){
    width:40%;
    height: 450px;
    /* background-color: blue; */
}

.About-row1 img{
    width: 80%;
    height: 100%;
    float: right;
    object-fit: cover;
    object-position: top;
}

.About-container h1{
    font-family: "Kaushan Script", cursive;
    /* font-family: "Fira Code", monospace; */
    /* font-family: "Source Code Pro", monospace; */
    font-size: 30px;
    /* color: #1B56FD; */
}

.About-row1 p{
    font-size: 18px;
}

.Drives_in h1{
    font-size: 50px;
}
.Drives_in{
    width: 100%;
    /* height: 500px; */
    background-image:linear-gradient(to bottom, rgba(37, 37, 37, 0.218), rgba(0, 0, 0, 0.87)) ,url("../Images/mt.jpg");
    background-position: center;
    background-size: cover;
    /* border-radius: 24px; */
    padding: 150px;
    color: white;
    box-shadow: 1px 1px 5px black;
}

.Drives .Drives_in{
    /* width: 80%; */
    margin: auto;
    text-align: center;
}

.Drives div img{
    width: 100%;
    /* height: 250px; */
    height: 100%;
    object-fit: cover;
    /* position: absolute; */
}

.lookingfor{
    text-align: center;
    padding: 100px 0;
    background-color: black;
}

.lookingfor div{
    width: 80%;
    margin: auto; 
}

@media only screen and (max-width:800px) {
    .Drives_in{
        padding: 100px 50px;
 }   
}

@media only screen and (max-width:500px) {
    .Drives_in{
        padding: 50px 10px;
    }

    .lookingfor div{
        width: 95%;
        margin: auto; 
    }

    .Drives_in h1{
        font-size: 35px;
    }
}