.About-container{
    background-color: rgba(255, 255, 255, 0.384);
}


.About-inner_Container{
    width: 95%;
    /* margin: 50px auto; */
    padding: 50px 0;
}

.yellow_text{
    color: #4C4C6D;
    /* text-decoration: none; */
    font-weight: 500;
}
.About-row1{
    text-align: center;
    margin-bottom: 60px;
}

.About-row1 h1{
    font-size: 35px;
    text-transform: uppercase;
}

.About-row1 h1:hover::after{
    width: 150px;
}

.About-row1 h1::after{
    content: '';
    display: block;
    width: 35px;
    margin: 5px auto;
    height: 4px;
    border-radius: 10px;
    background-color: #4C4C6D;
    transition: .3s;
}

.About-row1 p{
    color: rgb(46, 46, 46);
    font-size: 17px;
    width: 65%;
    margin: auto;
    /* font-weight: 500; */
}

.About-row2{
    display: flex;
    padding: 10px 20px;
}

.About-row2 h3{
    font-size: 24px;
}

.About-row2_col1{
    width: 50%;
    margin: auto;
    padding: 10px 20px;
}

.About-row2_col1 p{
    color: rgb(51, 50, 50);
    font-size: 16px;
    /* font-weight: 500; */
}

.About-row2_col1 p span{
    color: rgb(51, 50, 50);
    font-weight: 500;
}

.About-row2_col2 div{
    width: 75%;
    margin: auto;
}

.About-row2_col2 ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.skills-tag{
    background-color: #e7e7e7;
    margin: 5px;
    padding: 12px 18px;
    border-radius: 6px;
    list-style: none;
    font-weight: 600;
    color: #666;
    transition: .5s;
}

.skills-tag:hover{
    background-color: #dddbdb;
    color: #4C4C6D;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {

    .About-row2{
        flex-direction: column;
        padding: 0px;
    }

    .About-inner_Container{
        /* background-color: aqua; */
        width: 99%;
        margin: none;
    }

    .About-row2_col2 div{
        width: 90%;
        margin: auto;
    }

    .About-row2_col1{
        width: 100%;
        margin-bottom: 50px;
        /* padding: 10px 20px; */
    }

    .About-row2_col1 p{
        font-size: 15px;
    }

    .About-row1 p{
        width: 90%;
        font-size: 15px;
    }
    
}








.Aboutmain_container{
    display:flex;
    justify-content:center;
}

.aboutimg{
    width: 400px;
    position: relative;
    overflow-y: hidden;
}

.aboutimg img{
    width: 100%;
    position: relative;
    cursor: pointer;
}

.aboutimg p{
    position: absolute;
    bottom: -100px;
    left: 10px;
    transition: .5s;
}

.aboutimg img:hover{
    opacity: .5;
    filter: brightness(0.5);
}

.aboutimg img:hover ~ p{
    bottom: 50%;
}

.aboutimg p:hover{
    bottom: 50%;
}

.aboutimg p:hover ~ .aboutimg img{
    opacity: .5;
    filter: brightness(0.5);
}