.Contact-container{
    /* background-size: cover; */
    padding: 30px 0;
    width: 100%;
    background-color: #0a0a0b;
}

.inner-contact{
    padding: 20px 0;
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.connect img{
    width: 50px;
}

.connect h2{
    color: white;
}

.connect{
    background-color: #000;
    padding: 50px;
    text-align: left;
}
.connect_li{
    /* margin-top: 50px; */
    display: flex;
    gap: 20px;
    color: white;
    margin-bottom: 20px;
    /* justify-content: left; */
}

.connect_li a{
    color: white;
    text-decoration: none;
}

.connect_li div p:nth-child(2){
    color: rgb(92, 92, 92);
}

.Contact-container form{
    background-color: #000;
    padding: 30px;
    padding-bottom: 50px;
    border-radius: 5px;
    width: 100%;
    /* margin-top: 30px; */
    color: rgb(92, 92, 92);;
    box-shadow: 1px 1px 5px rgba(18, 18, 18, 0.418);
    height: 100%;
}


.Contact-container h1{
    text-align: center;
    /* color: white; */
    /* padding: 50px 0; */
    /* text-transform: uppercase; */
    /* text-transform: capitalize; */
    color: white;
}

.Contact-container p{
    /* text-align: center; */
    font-size: 15px;
    /* color: ; */
}

/* .Contact-container h1:hover::after{
    width: 150px;
}

.Contact-container h1::after{
    content: '';
    display: block;
    width: 35px;
    margin: 5px auto;
    height: 4px;
    border-radius: 10px;
    background-color: #1b56fd;
    transition: .3s;
} */


.inner-contact form input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    outline: transparent;
    border: transparent;
    margin: 5px 0 10px 0;
    padding-left: 2%;
    /* background-color: #f1f1f1; */
    /* font-weight: 600; */
    font-size: 15px;
    background: transparent;
    border: 1px solid rgb(92, 92, 92);
    /* color: white; */
}

.inner-contact form label span{
    color: rgb(255, 37, 37);
}

input:focus{
    outline: transparent;
}
textarea:focus{
    outline: transparent;
}

.inner-contact textarea{
    width: 100%;
    padding: 2%;
    margin-top: 5px;
    outline: 1px solid rgb(92, 92, 92);
    /* background-color: #f1f1f1; */
    background: transparent;
    border: transparent;
    border-radius: 5px;
    height: 100px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.inner-contact .btn{
    background-color: #1b56fd;
    cursor: pointer;
    transition: .3s;
    font-size: 15px;
    height: 35px;
    float: right;
    /* padding: 5px 30px; */
    width: fit-content;
    color: white;
    border: transparent;
    margin-top: 20px;
}

.Contact-container h2{
    font-family: "Kaushan Script", cursive;
    margin-bottom: 10px;
}

.inner-contact .btn:hover{
    background-color: #1b57fde4;
}

@media only screen and (max-width:1200px){
    .inner-contact{
        width: 90%;
        margin: 20px auto;
        gap: 20px;
    }
}


@media only screen and (max-width:1000px){
    .inner-contact{
        width: 100%;
        margin: 20px auto;
        gap: 5px;
    }
}

@media only screen and (max-width:900px){
    .inner-contact{
        grid-template-columns: repeat(1, 100%);
    }

    form{
        width: 100%;
    }
    
    
}


@media only screen and (max-width:500px){
    .connect img{
        width: 40px;
        height: 40px;
    }

    .inner-contact .btn{
        background-color: #1b56fd;
        cursor: pointer;
        transition: .3s;
        font-size: 15px;
        height: 40px;
        float: right;
        padding: 5px 10px;
        width: fit-content;
        color: white;
        border: transparent;
        margin-top: 20px;
    }
}