.footer{
    background-color: rgb(25, 25, 25);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.Social-footer{
    display: flex;
    justify-content: space-evenly;
    /* gap: 80px; */
    padding: 20px 0;
}

.footer .copyright a{
    text-decoration: none;
    color: #ff7b00;
}

.Social-footer svg{
    font-size: 35px;
    color: white;
}