.footer{
    background-color: #000;
    /* height: 150px;*/
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.Social-footer{
    display: flex;
    justify-content: space-evenly;
    /* gap: 80px; */
    padding: 20px 0;
}

.footer .copyright a{
    text-decoration: none;
    color: #1b56fd;
}

.footer svg{
   color: red;    
}