.Header-container{
    width: 100%;
    /* box-shadow: 1px 1px 5px rgba(201, 201, 201, 0.662); */
    position: relative;
}

.innercontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    /* gap: 10px; */
    width: 80%;
    margin: auto;
    opacity: 1;
    animation: paralax 1.2s ease;
    /* padding-top: 50px;
    padding-bottom: 50px;
     */
     padding: 30px 0;
}

.header-content{
    text-align: left;
}

.header-image{
    width: 35%;
    /* height: 450px; */
    position: relative;
}

.header-image div{
    /* background-color: #0185CA; */
    background-color: #1B56FD;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* left: 0; */
    transform: rotate(-5deg);
    /* filter: drop-shadow(5px 5px 5px #4c4c6dab); */
    z-index: -1;
    box-shadow: 1px 1px 5px gray;
}

.header-image img{
    cursor: pointer;
    width: 100%;
    filter: drop-shadow(5px 5px 5px #4c4c6dab);
    transition: all ease .5s;
}

.header-image img:hover{
    transform: scale(102%);
}

.header-content{
    width: 65%;
}

.header-content h1{
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    font-family: "Kaushan Script", cursive;
}

.header-content .headpara{
    color: rgb(109, 109, 109);
    width: 80%;
    font-size: 17px;
}

.domain{
    color: #1B56FD;
    font-size: 22px;
    font-weight: 500;
    font-family: "Kaushan Script", cursive;
}

.head-btns{
    margin: 25px auto;
    display: flex;
    gap: 20px;
}

.head-btns a{
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    transition: .3s;
    font-size: 18px;
}

.head-btns a:first-child:hover{
    background-color: #0185CA;
}

.head-btns a:first-child{
    color: white;
    background-color:#1B56FD;
    
}

.head-btns a:nth-child(2){
    border: 1px solid black;
}

.head-btns a:hover{
    background-color: rgb(40, 40, 40);
    color: white;
}



    @keyframes paralax {
    0%{
        padding: 0px 0;
        opacity: 0;
    }
}



@media only screen and (max-width: 736px) {
    .innercontent{
        width: 95%;
        padding: 50px 0;
    }
    
    .header-content h1{
        font-size: 30px;
    }
}

@media only screen and (max-width: 750px) {
    .innercontent{
        flex-direction: column;
    }

    .innercontent .header-image{
        /* width: 75%; */
        display: none;
    }

    .header-content{
        width: 95%;
    }

    .header-content h1{
        font-size: 25px;
    }

    .domain{
        font-size: 20px;
    }

    .header-content .headpara{
        width: 98%;
    }
}

@media only screen and (max-width: 400px) {

    .innercontent{
        /* padding: 0px; */
        padding: 20px 0;
        gap: 30px;
    }
    

    .head-btns a{
        text-decoration: none;
        padding: 10px 10px;
        color: #fff;
        background-color: #000;
        transition: .3s;
        font-size: 16px;
    }

    .head-btns{
        margin: 25px 0;
        display: flex;
        gap: 20px;
    }

}