.Header-container{
    width: 100%;
    /* box-shadow: 1px 1px 5px rgba(201, 201, 201, 0.662); */
}
.innercontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    gap: 10px;
    width: 80%;
    margin: auto;
    opacity: 1;
    animation: paralax 1.2s ease;
    /* color: white; */
    padding: 20px 0;
    
}

.header-image{
    width: 320px;
    height: 100%;
    /* border: 5px solid red; */
}

.header-image img{
    width: 100%;
    /* height: 100%; */
    border-bottom: 2px solid #7843e9;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 5px #7843e98f);
}

.header-content h1{
    text-transform: uppercase;
    font-size: 30px;
    color: #7843e9;
}

.header-content p{
    /* color: rgb(221, 221, 221); */
    width: 80%;
    margin: 10px auto;
}


/* .Header-container video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
} */

@keyframes paralax {
    0%{
        padding: 0px 0;
        opacity: 0;
    }
}



@media only screen and (max-width: 500px) {

    .Header-container{
        height: auto;
    }

    .header-image img{
        width: 75%;
    }

    .header-content p{
        width: 98%;
    }

}