.Navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    text-transform: uppercase;
    height: 5.6rem;
    z-index: 1;
}
.Navbar-container ul li{
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.Navbar-container a{
    text-decoration: none;
    /* color: #302f2f; */
    color: black;
    font-weight: 600;
    text-align: center;
    padding: 4px 8px;
    font-size: 17px;
    transition: .3s;
}

.Navbar-container ul a:hover{
    color: #4C4C6D;
}

.Navbar-container .logo_container a{
    display: flex;
    align-items: center;
}

.logo_image-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;

margin-right: 10px;}

.logo_image-container img{
    width: 100%;
}

.nav-menu{
    display: none;
    cursor: pointer;
}

.nav-menu .nav-menu_icon{
    font-size: 32px;
}

.nav-menu_list ul{
    display: flex;
    align-items: center;
}




@media only screen and (max-width: 736px) {
    .nav-menu{
        display: block;
    }

    .nav-menu_list ul{
        background-color: white;
        width: 100%;
        height: 100vh;
        display: block;
        transform: translateX(-100%);
        position: absolute;
        left: 0;
        top: 5.6rem;
        transition: .5s;
        padding: 20px 0px;
        z-index: 1;
    }
    .nav-menu_list ul li{
        display: block;
        line-height: 70px;
    }
    
    .res_nav-menu_list ul{
        background-color: white;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 5.6rem;
        text-align: center;
        padding: 20px 0px;
        transform: translateX(0%);
        transition: .5s;
        z-index: 1;
    }

    .res_nav-menu_list ul li{
        display: block;
        line-height: 70px;
    }

    .Navbar-container{
        padding: 0px 20px;
    }
}