.SkillsCon{
    text-align: center;
    padding: 50px 0;
    padding-top: 80px;
    /* background-color: rgb(243, 243, 243); */
}

.skillintro{
    /* margin: 20px auto; */
    text-transform: capitalize;
}

.skillsimg{
    width: 70px;
    margin: auto;
    cursor: pointer;
    padding: 12px 10px;
    border-radius: 20px;
}


.skillsimg img{
    width: 100%;
    object-fit: contain;
    aspect-ratio: 2/3;
    transition: .5s;
    /* border: 1px solid red; */
}

.skillsimg img:hover{
    transform:translateY(-10px) scale(103%);
}

.skillsimg p{
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.innerSkills{
    width: 100%;
    margin: auto;
    margin: 50px auto;
}

.skillarea{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    width: 80%;
    margin: auto;
}
/* 
.SkillsCon h1:hover::after{
    width: 150px;
}

.SkillsCon h1::after{
    content: '';
    display: block;
    width: 35px;
    margin: 5px auto;
    height: 4px;
    border-radius: 10px;
    background-color: #0185ca;
    transition: .3s;
} */

@media only screen and (max-width: 950px) {
    .skillarea{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-content: center;
        align-items: center;
        /* gap: 20px; */
        width: 95%;
        margin: auto;
    }
}
@media only screen and (max-width: 700px){
    .skillarea{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
    }
}
@media only screen and (max-width: 500px){
    .skillarea{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
}