.SocialLinks{
    position: absolute;
    left: 0px;
    top: 35%;
    background-color: white;
    /* background-color: rgb(25, 25, 25); */
    border-radius: 0px 5px 5px 0px;
    box-shadow: 1px 1px 10px rgba(95, 95, 95, 0.195);
    animation: sparalax 1.2s ease;
}

@keyframes sparalax {
    0%{
        left: -50px;
        opacity: 0;
    }
}

.SocialLinks ul{
    width: 60px;
    margin: auto;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.social-icons{
    /* color: white; */
    color: black;
    margin: 10px 0;
    font-size: 35px;
    transition: .5s;
}

.social-icons:hover{
    transform: translateX(10px);
    color: #1B56FD;
}

@media only screen and (max-width: 1000px) {
    .SocialLinks{
        display: none;
    }
}