.Header-container{
    background:  linear-gradient(rgba(139, 136, 136, 0.185), rgba(112, 112, 107, 0.185)), url('https://img.freepik.com/free-vector/white-gray-geometric-pattern-background-vector_53876-136510.jpg?w=826&t=st=1668964211~exp=1668964811~hmac=e4c34e35c874d1adf974f69e36b672b8de8d5774bcf6d8404246ec6e4aca48a4');
    /* background-color: aqua; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Header-container div{
    text-align: center;
    position: relative;
    top: 25%;
}

.Header-container div h1{
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}

.Header-container div p{
    font-size: 23px;
    color: rgb(51, 50, 50);
}

.headerbtn{
    padding: 18px 65px;
    position: relative;
}

.btn:hover{
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.24);
    background-color: #ebc003;
}