.SocialLinks{
    position: fixed;
    left: 0px;
    top: 35%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 10px rgba(170, 168, 168, 0.733);
}

.SocialLinks ul{
    width: 60px;
    margin: auto;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.social-icons{
    color: black;
    margin: 10px 0;
    font-size: 35px;
    transition: .5s;
}

.social-icons:hover{
    transform: translateX(10px);
}

@media only screen and (max-width: 1000px) {
    .SocialLinks{
        display: none;
    }
}